@import "./_fonts";
$main_textcolor: #000;
$main_backgroundcolor: #ececec;
$main_darkgrey: #cccccc;
$main_altcolor: #2c7979;
$main_gutter: 64px;

:root{
    --section-header-desktop-bg-odd: #fcfcfc;
    --section-content-desktop-bg-odd: #f8f8f8;

    --section-header-desktop-bg-even: #f8f8f8;
    --section-content-desktop-bg-even: #fcfcfc;

    //elements
    --experience-period: #666666;
}

$desktop: 1000px;
$content-desktop-width: 800px;
