@import "./modules/_normalize";
@import "./modules/_variables";

:root {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 10px;

    A {
        color: #000000;
    }
}

body {
    font-size: 1.6rem;
    line-height: 2rem;
}


// section styles

.mkf-section{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktop){
        flex-direction: unset;

        &:not(.mkf-header){
            &:nth-child(even){
                & .mkf-section-header{
                    background-color: var(--section-header-desktop-bg-even);
                }
                & .mkf-section-content{
                    background-color: var(--section-content-desktop-bg-even);
                }
            }
        
            &:nth-child(odd){
                & .mkf-section-header{
                    background-color: var(--section-header-desktop-bg-odd);
                }
                & .mkf-section-content{
                    background-color: var(--section-content-desktop-bg-odd);
                }
            }
        }
    }

    
    
}

.mkf-section-header{
    padding: 4rem 4rem 0;
    & * {
        font-size: 1.25em;
        line-height: normal;
        margin: 0;
    }
    @media screen and (min-width: $desktop) {
        padding: 4rem;
        min-width: 40%;
        text-align: right;

        & * {
            font-size: 1.6rem;
        }
    }
}

.mkf-section-content{
    flex-basis: 100%;
    padding: 2rem 4rem 4rem; 
    @media screen and (min-width: $desktop) {
        padding: 4rem;
    }

    &--text{
        P {
            margin: 0;
            max-width: $content-desktop-width;
            & + p {
                margin-top: 2rem;
            }
        }
    }
}


.mkf-header{
    padding-top: 5rem;
    @media screen and (min-width:$desktop){
        & > * {
            padding-top: 15rem;
        }
    }
}

// Elements

.mkf-avatar{
    display: block;
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    border-radius: 50%;

    @media screen and (min-width:$desktop){
        width: 35rem;
        height: 35rem;
        margin: 0 0 0 auto;
    }
    
}

.mkf-title{
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 900;

    P {
        margin: 2rem 0;
    }

    &--caps{
        text-transform: uppercase;
        font-size: 5rem;

        @media screen and (min-width:$desktop){
            font-size: 6rem;
        }
    }

    &--plain{
        font-weight: 300;
    }

    &--cursive{
        //font-family: 'Dancing Script', cursive;
        position: relative;
        left: -1rem;
        color: #ffffff;
        background-color: #333;
        font-size: 3rem;
        margin-top: 2rem;
        display: inline-block;
        padding: 0.5rem 3.5rem 0.7rem;
        border-radius: 3rem;
        line-height: normal;
    }

    &--small{
        font-size: 2rem;
    }

    &--large{
        font-size: 4rem;

        @media screen and (min-width:$desktop){
            font-size: 6rem;
        }
    }

    *:last-child{
        @media screen and (min-width:$desktop){
            border-bottom: 1px solid black;
            padding-bottom: 5rem;
        }
    }
}

.mkf-details{
    display: flex;
    flex-flow: column wrap;
    max-height: 6rem;
    max-width: $content-desktop-width;
    margin-top: 5rem;

    &__type{
        font-weight: 700;
    }

    &__description{
        min-height: 3rem;
        margin: 0;

        P + P { 
            margin: 0;
        }

        A {
            display: block;
        }
    }

    @media screen and (max-width:$desktop){
        display: block;
        max-height: unset;
    }
}

.mkf-section-title{
    font-weight: 300;
    line-height: 2.5rem;
    &--emphasized{
        font-weight: 700;
    }
}

// experience listing

.mkf-experience-list{
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width:$desktop){
        padding: 0;
    }
}

.mkf-experience{
    display: flex;
    flex-direction: column;
    max-width: $content-desktop-width;
    position: relative;
    border-left: 1px solid black;
    padding-bottom: 2rem;
    margin-top: 2rem;

    @media screen and (min-width:$desktop){
        flex-direction: unset;
    }

    &__overview * {
        margin: 0.5rem;
        min-width: 28rem;
        padding-left: 2.5rem;

        &::before{
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            background-color: #cccccc;
            border-radius: 50%;
            position: absolute;
            left: -5px;
            top: -15px;
        }
    }

    &__period{
        color: var(--experience-period);
        margin: 0;
    }

    &__company{
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 700;
        margin: 2rem 0 0.5rem;
    }

    &__location{
        margin: 0;
        margin-bottom: 2rem;
        font-size: 0.80em;
    }

    &__role{
        margin: 0;
        font-size: 0.80em;
    }

    &__summary{
        padding-left: 2.5rem;
        margin-top: 2rem;

        @media screen and (min-width:$desktop){
            padding-left: 0;
            margin-top: unset;
        }

        P {
            margin-top: 0;
        }
        
    }

    &__responsibility-list{
        font-size: 0.80em;
    }
}

.mkf-definition-list{
    margin: 0;

    dt {
        font-weight: 400;
    }
    dd {
        margin: 0 0 2rem 0;
    }
}

@media print {
    
    @page{
        size: a4 portrait;
        margin: 1cm;
    }

    body, body *{
        color: #000000 !important;
    }

    .mkf-avatar{
        width: 30rem;
        height: 30rem;
    }

    .mkf-title p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .mkf-title *:last-child{
        border-bottom: none;
        padding-bottom: 2rem;
    }

    .mkf-title--cursive{
        left: 0;
        top: 2rem;
        display: block;
        background-color: transparent;
        border: 1px solid #000000;
        font-weight: 700;
        padding: 0.25rem 2.5rem 0.5rem;
        margin: 2rem;
    }

    .mkf-details__type{
        text-align: center;
    }
    .mkf-details__description{
        text-align: center;
    }

    .mkf-page-break {
        break-before: page;
    }

    .mkf-experience{
        flex-direction: column;

        &__overview{
            margin-bottom: 2rem;
        }

        &__summary{
            padding-left: 4rem;
        }

        &__overview * {    
            &::before{
                content: "";
                display: none;
            }
        }

        &__period{
            
        }

        &__role {
            font-weight: 400;
        }
    }

    .mkf-section-header{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .mkf-section-title--emphasized{
        font-size: 2.5rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .mkf-section-title--normal{
        display: none;
    }
}